ClipBoard.txt
[{"id":"9510eb9d.d33f18","type":"twilio-api","z":"abec949a.d706b8","sid":"AC68cf6ef0dd06c717dd6729afb2954514","from":"2014312604","name":"Alert"},{"id":"a03e1b47.172a88","type":"twilio out","z":"abec949a.d706b8","service":"_ext_","twilio":"9510eb9d.d33f18","from":"","number":"4144396202","name":"Alert","x":1498.8117408752441,"y":545.6580772399902,"wires":[]},{"id":"a0553a47.4f2fe8","type":"function","z":"abec949a.d706b8","name":"Weather alert","func":"if(msg.payload.d.object_temp>14)\n{\n    context.temp=((parseInt(msg.payload.d.object_temp)*(9/5))+32)\n    \n    return {payload:{actualtempInF:context.temp}  \n    };\n}\n\n","outputs":1,"noerr":0,"x":856.923454284668,"y":912.2739810943604,"wires":[["2a9794ca.e860ec"]]},{"id":"b77e3e54.a0401","type":"ibmiot in","z":"abec949a.d706b8","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"bc6a2948f972","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":188.20890998840332,"y":704.1003341674805,"wires":[["a0553a47.4f2fe8","abf6f000.a62fa","eba9c710.32c8a8"]]},{"id":"75ef522d.d06e1c","type":"http request","z":"abec949a.d706b8","name":"Weather Report Kansas City-http request","method":"GET","ret":"txt","url":"http://api.openweathermap.org/data/2.5/forecast?lat=39.028348&lon=-94.575218&units=imperial&appid=719a3d0ec11f9116eb239cbda37dc877","x":347.3803405761719,"y":328.37491607666016,"wires":[["b95118aa.63a7d8","76eccf65.9fc83"]]},{"id":"a630ac61.de581","type":"inject","z":"abec949a.d706b8","name":"Inject","topic":"Task1","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":127.8571548461914,"y":191.66666507720947,"wires":[["75ef522d.d06e1c"]]},{"id":"2a9794ca.e860ec","type":"debug","z":"abec949a.d706b8","name":"","active":false,"console":"false","complete":"payload","x":1098.3357772827148,"y":820.1291389465332,"wires":[]},{"id":"5aa8188e.faee18","type":"function","z":"abec949a.d706b8","name":"Temperature Filter","func":"var outputMsgs=[]\n\n\nfor(i=0;i<msg.payload.list.length-1;i++)\n{\n    var feature=msg.payload.list[i];\n    context.avg=feature.main.temp;\n    outputMsgs.push(\n        {payload:{temp:context.avg}\n       });\n     var msg2={payload:{temp:context.avg}}\n     return msg2\n    \n}\n\n","outputs":"1","noerr":0,"x":884.3409805297852,"y":332.9277648925781,"wires":[["55ed93b5.a3613c","9d60695c.46b3b8"]]},{"id":"b95118aa.63a7d8","type":"json","z":"abec949a.d706b8","name":"Json Formatter","x":677.7670516967773,"y":105.52696514129639,"wires":[["5aa8188e.faee18"]]},{"id":"abf6f000.a62fa","type":"function","z":"abec949a.d706b8","name":"AverageTempFrom Sensor","func":"var currentTime = new Date().getTime();\n\nvar outputMsgs=[]\n\n\nif (!context.lastTime) {\n    context.lastTime = currentTime;\n    context.sum = ((parseInt(msg.payload.d.object_temp)*(9/5))+32);\n    context.count = 1;\n}\nif (currentTime-context.lastTime > 5000) {\n    // calculate average for previous messages\n    context.average = context.sum/context.count;\n    //context.global.avg=context.sum/context.count;\n    outputMsgs.push(\n         {payload:{avg:context.average}\n     });\n    \n    // start tracking average again\n    context.sum = ((parseInt(msg.payload.d.object_temp)*(9/5))+32);\n    context.count = 1;\n    context.lastTime = currentTime;\n    return outputMsgs;\n    \n} else {\n    context.sum += ((parseInt(msg.payload.d.object_temp)*(9/5))+32);\n    context.count +=1;\n}\nreturn outputMsgs;\n\n\n","outputs":"2","noerr":0,"x":854.5964202880859,"y":603.5592613220215,"wires":[["285409a5.a0a5e6","55ed93b5.a3613c"],[]]},{"id":"285409a5.a0a5e6","type":"debug","z":"abec949a.d706b8","name":"","active":false,"console":"false","complete":"payload","x":1221.9187774658203,"y":689.0803661346436,"wires":[]},{"id":"55ed93b5.a3613c","type":"function","z":"abec949a.d706b8","name":"Alert","func":"var averagetempoutside=global.get(\"avg\");\nvar averagetempinside=global.get(\"average\");\n// if((averagetempinside-averagetempoutside)>0)\n// {\nvar differenceInTemp=averagetempinside-averagetempinside;\nif((averagetempoutside-averagetempinside)>0)\n{\nvar msg2={payload:\"It's hot in here.Save on your bill by lowering the temperature\"}\n    \n}\nif(averagetempinside>20)\n{\nvar msg2={payload:\"Looks like something is not right at your apartment!!The temperature inside is dangerously high!\"}\n    \n}\nreturn msg2;\n","outputs":1,"noerr":0,"x":1218.6000633239746,"y":386.53775119781494,"wires":[["9eaffe3e.8bdc9","63c06a0d.99d4d4"]]},{"id":"9eaffe3e.8bdc9","type":"debug","z":"abec949a.d706b8","name":"","active":true,"console":"false","complete":"payload","x":1459.5997695922852,"y":163.52224922180176,"wires":[]},{"id":"63c06a0d.99d4d4","type":"delay","z":"abec949a.d706b8","name":"Delay","pauseType":"rate","timeout":"3","timeoutUnits":"minutes","rate":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1521.0373001098633,"y":388.2649612426758,"wires":[["a03e1b47.172a88"]]},{"id":"eba9c710.32c8a8","type":"debug","z":"abec949a.d706b8","name":"","active":false,"console":"false","complete":"false","x":483.0736541748047,"y":522.8122758865356,"wires":[]},{"id":"76eccf65.9fc83","type":"debug","z":"abec949a.d706b8","name":"","active":false,"console":"false","complete":"false","x":748.6673126220703,"y":452.90538787841797,"wires":[]},{"id":"9d60695c.46b3b8","type":"debug","z":"abec949a.d706b8","name":"","active":false,"console":"false","complete":"payload","x":1105.1032371520996,"y":148.18873500823975,"wires":[]}]